<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<real>13.091893196105957</real>
		<key>long</key>
		<real>80.292205810546875</real>
		<key>no</key>
		<integer>1</integer>
		<key>title</key>
		<string>Chennai Beach</string>
		<key>toStation1WDs</key>
		<array>
			<string>05:35</string>
			<string>00:00</string>
			<string>09:35</string>
			<string>14:40</string>
			<string>18:35</string>
			<string>19:50</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>05:35</string>
			<string>00:00</string>
			<string>09:35</string>
			<string>14:40</string>
			<string>18:35</string>
			<string>19:50</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>08:05</string>
			<string>08:15</string>
			<string>09:45</string>
			<string>10:10</string>
			<string>17:35</string>
			<string>18:00</string>
			<string>19:30</string>
			<string>21:45</string>
			<string>23:00</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>08:05</string>
			<string>08:15</string>
			<string>09:45</string>
			<string>10:10</string>
			<string>17:35</string>
			<string>18:00</string>
			<string>19:30</string>
			<string>21:45</string>
			<string>23:00</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.104808807373047</real>
		<key>long</key>
		<real>80.29376220703125</real>
		<key>no</key>
		<integer>2</integer>
		<key>title</key>
		<string>Royapuram</string>
		<key>toStation1WDs</key>
		<array>
			<string>05:45</string>
			<string>05:25</string>
			<string>09:40</string>
			<string>14:45</string>
			<string>18:40</string>
			<string>19:55</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>05:45</string>
			<string>05:25</string>
			<string>09:40</string>
			<string>14:45</string>
			<string>18:40</string>
			<string>19:55</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:51</string>
			<string>00:00</string>
			<string>09:18</string>
			<string>09:52</string>
			<string>00:00</string>
			<string>17:37</string>
			<string>19:02</string>
			<string>21:22</string>
			<string>22:37</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:51</string>
			<string>00:00</string>
			<string>09:18</string>
			<string>09:52</string>
			<string>00:00</string>
			<string>17:37</string>
			<string>19:02</string>
			<string>21:22</string>
			<string>22:37</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.108686447143555</real>
		<key>long</key>
		<real>80.281913757324219</real>
		<key>no</key>
		<integer>3</integer>
		<key>title</key>
		<string>Washermanpet</string>
		<key>toStation1WDs</key>
		<array>
			<string>05:50</string>
			<string>00:00</string>
			<string>09:45</string>
			<string>14:50</string>
			<string>18:45</string>
			<string>20:00</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>05:50</string>
			<string>00:00</string>
			<string>09:45</string>
			<string>14:50</string>
			<string>18:45</string>
			<string>20:00</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:46</string>
			<string>00:00</string>
			<string>09:13</string>
			<string>09:47</string>
			<string>00:00</string>
			<string>17:32</string>
			<string>18:57</string>
			<string>21:17</string>
			<string>22:32</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:46</string>
			<string>00:00</string>
			<string>09:13</string>
			<string>09:47</string>
			<string>00:00</string>
			<string>17:32</string>
			<string>18:57</string>
			<string>21:17</string>
			<string>22:32</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.120566368103027</real>
		<key>long</key>
		<real>80.278511047363281</real>
		<key>no</key>
		<integer>4</integer>
		<key>title</key>
		<string>Korukkupet</string>
		<key>toStation1WDs</key>
		<array>
			<string>05:56</string>
			<string>06:28</string>
			<string>09:51</string>
			<string>14:56</string>
			<string>18:51</string>
			<string>20:06</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>05:56</string>
			<string>06:28</string>
			<string>09:51</string>
			<string>14:56</string>
			<string>18:51</string>
			<string>20:06</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:40</string>
			<string>06:59</string>
			<string>09:06</string>
			<string>09:41</string>
			<string>16:21</string>
			<string>17:26</string>
			<string>18:51</string>
			<string>21:11</string>
			<string>22:26</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:40</string>
			<string>06:59</string>
			<string>09:06</string>
			<string>09:41</string>
			<string>16:21</string>
			<string>17:26</string>
			<string>18:51</string>
			<string>21:11</string>
			<string>22:26</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.126720428466797</real>
		<key>long</key>
		<real>80.281356811523438</real>
		<key>no</key>
		<integer>5</integer>
		<key>title</key>
		<string>Tondiarpet</string>
		<key>toStation1WDs</key>
		<array>
			<string>05:58</string>
			<string>06:30</string>
			<string>09:53</string>
			<string>14:58</string>
			<string>18:53</string>
			<string>20:08</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>05:58</string>
			<string>06:30</string>
			<string>09:53</string>
			<string>14:58</string>
			<string>18:53</string>
			<string>20:08</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:38</string>
			<string>06:57</string>
			<string>09:04</string>
			<string>09:39</string>
			<string>16:19</string>
			<string>17:24</string>
			<string>18:49</string>
			<string>21:09</string>
			<string>22:24</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:38</string>
			<string>06:57</string>
			<string>09:04</string>
			<string>09:39</string>
			<string>16:19</string>
			<string>17:24</string>
			<string>18:49</string>
			<string>21:09</string>
			<string>22:24</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.140376091003418</real>
		<key>long</key>
		<real>80.28778076171875</real>
		<key>no</key>
		<integer>6</integer>
		<key>title</key>
		<string>V.O.C Nagar</string>
		<key>toStation1WDs</key>
		<array>
			<string>06:00</string>
			<string>06:32</string>
			<string>09:55</string>
			<string>15:00</string>
			<string>18:55</string>
			<string>20:10</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>06:00</string>
			<string>06:32</string>
			<string>09:55</string>
			<string>15:00</string>
			<string>18:55</string>
			<string>20:10</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:36</string>
			<string>06:55</string>
			<string>09:02</string>
			<string>09:37</string>
			<string>16:17</string>
			<string>17:22</string>
			<string>18:47</string>
			<string>21:07</string>
			<string>22:22</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:36</string>
			<string>06:55</string>
			<string>09:02</string>
			<string>09:37</string>
			<string>16:17</string>
			<string>17:22</string>
			<string>18:47</string>
			<string>21:07</string>
			<string>22:22</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.159213066101074</real>
		<key>long</key>
		<real>80.296195983886719</real>
		<key>no</key>
		<integer>8</integer>
		<key>title</key>
		<string>Tiruvottiyur</string>
		<key>toStation1WDs</key>
		<array>
			<string>06:04</string>
			<string>06:36</string>
			<string>09:59</string>
			<string>15:04</string>
			<string>18:59</string>
			<string>20:14</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>06:04</string>
			<string>06:36</string>
			<string>09:59</string>
			<string>15:04</string>
			<string>18:59</string>
			<string>20:14</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:33</string>
			<string>06:52</string>
			<string>08:59</string>
			<string>09:34</string>
			<string>16:14</string>
			<string>17:19</string>
			<string>18:44</string>
			<string>21:04</string>
			<string>22:19</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:33</string>
			<string>06:52</string>
			<string>08:59</string>
			<string>09:34</string>
			<string>16:14</string>
			<string>17:19</string>
			<string>18:44</string>
			<string>21:04</string>
			<string>22:19</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.180315017700195</real>
		<key>long</key>
		<real>80.306015014648438</real>
		<key>no</key>
		<integer>9</integer>
		<key>title</key>
		<string>Wimco Nagar</string>
		<key>toStation1WDs</key>
		<array>
			<string>06:09</string>
			<string>06:41</string>
			<string>10:04</string>
			<string>15:09</string>
			<string>19:04</string>
			<string>20:19</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>06:09</string>
			<string>06:41</string>
			<string>10:04</string>
			<string>15:09</string>
			<string>19:04</string>
			<string>20:19</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:29</string>
			<string>06:48</string>
			<string>08:55</string>
			<string>09:30</string>
			<string>16:10</string>
			<string>17:15</string>
			<string>18:40</string>
			<string>21:00</string>
			<string>22:15</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:29</string>
			<string>06:48</string>
			<string>08:55</string>
			<string>09:30</string>
			<string>16:10</string>
			<string>17:15</string>
			<string>18:40</string>
			<string>21:00</string>
			<string>22:15</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.204569816589355</real>
		<key>long</key>
		<real>80.316909790039062</real>
		<key>no</key>
		<integer>10</integer>
		<key>title</key>
		<string>Kathivakkam </string>
		<key>toStation1WDs</key>
		<array>
			<string>06:12</string>
			<string>06:44</string>
			<string>10:07</string>
			<string>15:12</string>
			<string>19:07</string>
			<string>20:22</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>06:12</string>
			<string>06:44</string>
			<string>10:07</string>
			<string>15:12</string>
			<string>19:07</string>
			<string>20:22</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:26</string>
			<string>06:45</string>
			<string>08:52</string>
			<string>09:27</string>
			<string>16:07</string>
			<string>17:12</string>
			<string>18:37</string>
			<string>20:57</string>
			<string>22:12</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:26</string>
			<string>06:45</string>
			<string>08:52</string>
			<string>09:27</string>
			<string>16:07</string>
			<string>17:12</string>
			<string>18:37</string>
			<string>20:57</string>
			<string>22:12</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.217637062072754</real>
		<key>long</key>
		<real>80.321685791015625</real>
		<key>no</key>
		<integer>11</integer>
		<key>title</key>
		<string>Ennore</string>
		<key>toStation1WDs</key>
		<array>
			<string>06:16</string>
			<string>06:48</string>
			<string>10:11</string>
			<string>15:16</string>
			<string>19:11</string>
			<string>20:26</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>06:16</string>
			<string>06:48</string>
			<string>10:11</string>
			<string>15:16</string>
			<string>19:11</string>
			<string>20:26</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:24</string>
			<string>06:43</string>
			<string>08:50</string>
			<string>09:25</string>
			<string>16:05</string>
			<string>17:10</string>
			<string>19:35</string>
			<string>20:55</string>
			<string>22:10</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:24</string>
			<string>06:43</string>
			<string>08:50</string>
			<string>09:25</string>
			<string>16:05</string>
			<string>17:10</string>
			<string>19:35</string>
			<string>20:55</string>
			<string>22:10</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.249573707580566</real>
		<key>long</key>
		<real>80.299453735351562</real>
		<key>no</key>
		<integer>12</integer>
		<key>title</key>
		<string>Attipattu Pudunagar</string>
		<key>toStation1WDs</key>
		<array>
			<string>06:22</string>
			<string>06:54</string>
			<string>10:17</string>
			<string>15:22</string>
			<string>19:17</string>
			<string>20:32</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>06:22</string>
			<string>06:54</string>
			<string>10:17</string>
			<string>15:22</string>
			<string>19:17</string>
			<string>20:32</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:20</string>
			<string></string>
			<string>08:46</string>
			<string>09:21</string>
			<string>16:00</string>
			<string>17:06</string>
			<string>18:31</string>
			<string>20:51</string>
			<string>22:06</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:20</string>
			<string></string>
			<string>08:46</string>
			<string>09:21</string>
			<string>16:00</string>
			<string>17:06</string>
			<string>18:31</string>
			<string>20:51</string>
			<string>22:06</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.263838768005371</real>
		<key>long</key>
		<real>80.289085388183594</real>
		<key>no</key>
		<integer>13</integer>
		<key>title</key>
		<string>Atipattu</string>
		<key>toStation1WDs</key>
		<array>
			<string>06:24</string>
			<string>06:56</string>
			<string>10:19</string>
			<string>15:24</string>
			<string>19:19</string>
			<string>20:34</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>06:24</string>
			<string>06:56</string>
			<string>10:19</string>
			<string>15:24</string>
			<string>19:19</string>
			<string>20:34</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:17</string>
			<string></string>
			<string>08:43</string>
			<string>09:18</string>
			<string>15:57</string>
			<string>17:03</string>
			<string>18:28</string>
			<string>20:48</string>
			<string>22:03</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:17</string>
			<string></string>
			<string>08:43</string>
			<string>09:18</string>
			<string>15:57</string>
			<string>17:03</string>
			<string>18:28</string>
			<string>20:48</string>
			<string>22:03</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.268715858459473</real>
		<key>long</key>
		<real>80.275871276855469</real>
		<key>no</key>
		<integer>14</integer>
		<key>title</key>
		<string>Nandiampakkam H </string>
		<key>toStation1WDs</key>
		<array>
			<string>06:26</string>
			<string>06:58</string>
			<string>10:21</string>
			<string>15:26</string>
			<string>19:21</string>
			<string>20:36</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>06:26</string>
			<string>06:58</string>
			<string>10:21</string>
			<string>15:26</string>
			<string>19:21</string>
			<string>20:36</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:15</string>
			<string></string>
			<string>08:41</string>
			<string>09:16</string>
			<string>15:55</string>
			<string>17:01</string>
			<string>18:26</string>
			<string>20:46</string>
			<string>22:01</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:15</string>
			<string></string>
			<string>08:41</string>
			<string>09:16</string>
			<string>15:55</string>
			<string>17:01</string>
			<string>18:26</string>
			<string>20:46</string>
			<string>22:01</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.281904220581055</real>
		<key>long</key>
		<real>80.259849548339844</real>
		<key>no</key>
		<integer>15</integer>
		<key>title</key>
		<string>Minjur</string>
		<key>toStation1WDs</key>
		<array>
			<string>06:29</string>
			<string>07:01</string>
			<string>10:24</string>
			<string>15:29</string>
			<string>19:24</string>
			<string>20:39</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>06:29</string>
			<string>07:01</string>
			<string>10:24</string>
			<string>15:29</string>
			<string>19:24</string>
			<string>20:39</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:12</string>
			<string></string>
			<string>08:38</string>
			<string>09:13</string>
			<string>15:52</string>
			<string>16:58</string>
			<string>18:23</string>
			<string>20:43</string>
			<string>21:58</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:12</string>
			<string></string>
			<string>08:38</string>
			<string>09:13</string>
			<string>15:52</string>
			<string>16:58</string>
			<string>18:23</string>
			<string>20:43</string>
			<string>21:58</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.304520606994629</real>
		<key>long</key>
		<real>80.230735778808594</real>
		<key>no</key>
		<integer>16</integer>
		<key>title</key>
		<string>Anupampattu</string>
		<key>toStation1WDs</key>
		<array>
			<string>06:33</string>
			<string>07:05</string>
			<string>10:28</string>
			<string>15:34</string>
			<string>19:28</string>
			<string>20:43</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>06:33</string>
			<string>07:05</string>
			<string>10:28</string>
			<string>15:34</string>
			<string>19:28</string>
			<string>20:43</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:08</string>
			<string></string>
			<string>08:34</string>
			<string>09:09</string>
			<string>15:48</string>
			<string>16:54</string>
			<string>18:19</string>
			<string>20:39</string>
			<string>21:54</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:08</string>
			<string></string>
			<string>08:34</string>
			<string>09:09</string>
			<string>15:48</string>
			<string>16:54</string>
			<string>18:19</string>
			<string>20:39</string>
			<string>21:54</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.332270622253418</real>
		<key>long</key>
		<real>80.19879150390625</real>
		<key>no</key>
		<integer>17</integer>
		<key>title</key>
		<string>Ponneri</string>
		<key>toStation1WDs</key>
		<array>
			<string>06:50</string>
			<string>07:40</string>
			<string>10:33</string>
			<string>15:39</string>
			<string>19:33</string>
			<string>20:48</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string>06:50</string>
			<string>07:40</string>
			<string>10:33</string>
			<string>15:39</string>
			<string>19:33</string>
			<string>20:48</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string>07:00</string>
			<string></string>
			<string>08:26</string>
			<string>09:01</string>
			<string>15:40</string>
			<string>16:46</string>
			<string>18:11</string>
			<string>20:31</string>
			<string>21:46</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string>07:00</string>
			<string></string>
			<string>08:26</string>
			<string>09:01</string>
			<string>15:40</string>
			<string>16:46</string>
			<string>18:11</string>
			<string>20:31</string>
			<string>21:46</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.363442420959473</real>
		<key>long</key>
		<real>80.147308349609375</real>
		<key>no</key>
		<integer>18</integer>
		<key>title</key>
		<string>Kavaraipettai</string>
		<key>toStation1WDs</key>
		<array>
			<string></string>
			<string></string>
			<string>10:39</string>
			<string>15:44</string>
			<string>19:39</string>
			<string>20:54</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string></string>
			<string></string>
			<string>10:39</string>
			<string>15:44</string>
			<string>19:39</string>
			<string>20:54</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string></string>
			<string></string>
			<string>08:17</string>
			<string>08:52</string>
			<string></string>
			<string>16:37</string>
			<string>18:07</string>
			<string>20:22</string>
			<string>21:37</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string></string>
			<string></string>
			<string>08:17</string>
			<string>08:52</string>
			<string></string>
			<string>16:37</string>
			<string>18:07</string>
			<string>20:22</string>
			<string>21:37</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.408938407897949</real>
		<key>long</key>
		<real>80.12371826171875</real>
		<key>no</key>
		<integer>19</integer>
		<key>title</key>
		<string>Gummudipundi</string>
		<key>toStation1WDs</key>
		<array>
			<string></string>
			<string></string>
			<string>11:15</string>
			<string>15:55</string>
			<string>20:00</string>
			<string>21:20</string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string></string>
			<string></string>
			<string>11:15</string>
			<string>15:55</string>
			<string>20:00</string>
			<string>21:20</string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string></string>
			<string></string>
			<string>08:10</string>
			<string>08:45</string>
			<string></string>
			<string>16:30</string>
			<string>18:00</string>
			<string>20:15</string>
			<string>21:30</string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string></string>
			<string></string>
			<string>08:10</string>
			<string>08:45</string>
			<string></string>
			<string>16:30</string>
			<string>18:00</string>
			<string>20:15</string>
			<string>21:30</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.45891284942627</real>
		<key>long</key>
		<real>80.115882873535156</real>
		<key>no</key>
		<integer>20</integer>
		<key>title</key>
		<string>Elavur</string>
		<key>toStation1WDs</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string>16:00</string>
			<string></string>
			<string></string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string>16:00</string>
			<string></string>
			<string></string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string></string>
			<string></string>
			<string>07:55</string>
			<string></string>
			<string></string>
			<string></string>
			<string>17:50</string>
			<string></string>
			<string></string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string></string>
			<string></string>
			<string>07:55</string>
			<string></string>
			<string></string>
			<string></string>
			<string>17:50</string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.533344268798828</real>
		<key>long</key>
		<real>80.074653625488281</real>
		<key>no</key>
		<integer>21</integer>
		<key>title</key>
		<string>Arambakkam</string>
		<key>toStation1WDs</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string>16:06</string>
			<string></string>
			<string></string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string>16:06</string>
			<string></string>
			<string></string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string></string>
			<string></string>
			<string>07:46</string>
			<string></string>
			<string></string>
			<string></string>
			<string>17:41</string>
			<string></string>
			<string></string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string></string>
			<string></string>
			<string>07:46</string>
			<string></string>
			<string></string>
			<string></string>
			<string>17:41</string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.588574409484863</real>
		<key>long</key>
		<real>80.036354064941406</real>
		<key>no</key>
		<integer>22</integer>
		<key>title</key>
		<string>Tada</string>
		<key>toStation1WDs</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string>16:15</string>
			<string></string>
			<string></string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string>16:15</string>
			<string></string>
			<string></string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string></string>
			<string></string>
			<string>07:39</string>
			<string></string>
			<string></string>
			<string></string>
			<string>17:34</string>
			<string></string>
			<string></string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string></string>
			<string></string>
			<string>07:39</string>
			<string></string>
			<string></string>
			<string></string>
			<string>17:34</string>
			<string></string>
			<string></string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>13.69663143157959</real>
		<key>long</key>
		<real>80.018402099609375</real>
		<key>no</key>
		<integer>23</integer>
		<key>title</key>
		<string>Sulllurupetta</string>
		<key>toStation1WDs</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string>16:22</string>
			<string></string>
			<string></string>
		</array>
		<key>toStation1WEs</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
			<string>16:22</string>
			<string></string>
			<string></string>
		</array>
		<key>toStation2WDs</key>
		<array>
			<string></string>
			<string></string>
			<string>07:25</string>
			<string></string>
			<string></string>
			<string></string>
			<string>17:20</string>
			<string></string>
			<string></string>
		</array>
		<key>toStation2WEs</key>
		<array>
			<string></string>
			<string></string>
			<string>07:25</string>
			<string></string>
			<string></string>
			<string></string>
			<string>17:20</string>
			<string></string>
			<string></string>
		</array>
	</dict>
</array>
</plist>
