<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lat</key>
		<real>80.291603088378906</real>
		<key>no</key>
		<integer>17</integer>
		<key>title</key>
		<string>Chennai Beach</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:10</string>
			<string>4:40</string>
			<string>5:10</string>
			<string>5:30</string>
			<string>5:30</string>
			<string>5:50</string>
			<string>6:05</string>
			<string>6:20</string>
			<string>6:40</string>
			<string>6:55</string>
			<string>7:15</string>
			<string>7:30</string>
			<string>7:45</string>
			<string>8:00</string>
			<string>8:15</string>
			<string>8:25</string>
			<string>8:35</string>
			<string>8:45</string>
			<string>8:55</string>
			<string>9:05</string>
			<string>9:15</string>
			<string>9:25</string>
			<string>9:35</string>
			<string>9:45</string>
			<string>9:55</string>
			<string>10:05</string>
			<string>10:15</string>
			<string>10:30</string>
			<string>10:45</string>
			<string>11:00</string>
			<string>11:15</string>
			<string>11:30</string>
			<string>11:45</string>
			<string>12:05</string>
			<string>12:25</string>
			<string>12:45</string>
			<string>13:05</string>
			<string>13:25</string>
			<string>13:45</string>
			<string>14:05</string>
			<string>14:25</string>
			<string>14:45</string>
			<string>15:05</string>
			<string>15:25</string>
			<string>15:45</string>
			<string>16:00</string>
			<string>16:15</string>
			<string>16:30</string>
			<string>16:45</string>
			<string>17:00</string>
			<string>17:15</string>
			<string>17:30</string>
			<string>17:40</string>
			<string>17:50</string>
			<string>18:00</string>
			<string>18:15</string>
			<string>18:25</string>
			<string>18:35</string>
			<string>18:45</string>
			<string>18:55</string>
			<string>19:10</string>
			<string>19:25</string>
			<string>19:40</string>
			<string>20:00</string>
			<string>20:20</string>
			<string>20:40</string>
			<string>21:00</string>
			<string>21:20</string>
			<string>21:40</string>
			<string>22:00</string>
			<string>22:20</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.282943725585938</real>
		<key>no</key>
		<integer>16</integer>
		<key>title</key>
		<string>Chennai Fort</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:14</string>
			<string>4:44</string>
			<string>5:14</string>
			<string>5:34</string>
			<string>5:34</string>
			<string>5:54</string>
			<string>6:09</string>
			<string>6:24</string>
			<string>6:44</string>
			<string>6:59</string>
			<string>7:19</string>
			<string>7:34</string>
			<string>7:49</string>
			<string>8:04</string>
			<string>8:19</string>
			<string>8:29</string>
			<string>8:39</string>
			<string>8:49</string>
			<string>8:59</string>
			<string>9:09</string>
			<string>9:19</string>
			<string>9:29</string>
			<string>9:39</string>
			<string>9:49</string>
			<string>9:59</string>
			<string>10:09</string>
			<string>10:19</string>
			<string>10:34</string>
			<string>10:49</string>
			<string>11:04</string>
			<string>11:19</string>
			<string>11:34</string>
			<string>11:49</string>
			<string>12:09</string>
			<string>12:29</string>
			<string>12:49</string>
			<string>13:09</string>
			<string>13:29</string>
			<string>13:49</string>
			<string>14:09</string>
			<string>14:29</string>
			<string>14:49</string>
			<string>15:09</string>
			<string>15:29</string>
			<string>15:49</string>
			<string>16:04</string>
			<string>16:19</string>
			<string>16:34</string>
			<string>16:49</string>
			<string>17:04</string>
			<string>17:19</string>
			<string>17:34</string>
			<string>17:44</string>
			<string>17:54</string>
			<string>18:04</string>
			<string>18:19</string>
			<string>18:29</string>
			<string>18:39</string>
			<string>18:49</string>
			<string>18:59</string>
			<string>19:14</string>
			<string>19:29</string>
			<string>19:44</string>
			<string>20:04</string>
			<string>20:24</string>
			<string>20:44</string>
			<string>21:04</string>
			<string>21:24</string>
			<string>21:44</string>
			<string>22:04</string>
			<string>22:24</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.276931762695312</real>
		<key>no</key>
		<integer>15</integer>
		<key>title</key>
		<string>Park Town</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:16</string>
			<string>4:46</string>
			<string>5:16</string>
			<string>5:36</string>
			<string>5:36</string>
			<string>5:56</string>
			<string>6:11</string>
			<string>6:26</string>
			<string>6:46</string>
			<string>7:01</string>
			<string>7:21</string>
			<string>7:36</string>
			<string>7:51</string>
			<string>8:06</string>
			<string>8:21</string>
			<string>8:31</string>
			<string>8:41</string>
			<string>8:51</string>
			<string>9:01</string>
			<string>9:11</string>
			<string>9:21</string>
			<string>9:31</string>
			<string>9:41</string>
			<string>9:51</string>
			<string>10:01</string>
			<string>10:11</string>
			<string>10:21</string>
			<string>10:36</string>
			<string>10:51</string>
			<string>11:06</string>
			<string>11:21</string>
			<string>11:36</string>
			<string>11:51</string>
			<string>12:11</string>
			<string>12:31</string>
			<string>12:51</string>
			<string>13:11</string>
			<string>13:31</string>
			<string>13:51</string>
			<string>14:11</string>
			<string>14:31</string>
			<string>14:51</string>
			<string>15:11</string>
			<string>15:31</string>
			<string>15:51</string>
			<string>16:06</string>
			<string>16:21</string>
			<string>16:36</string>
			<string>16:51</string>
			<string>17:06</string>
			<string>17:21</string>
			<string>17:36</string>
			<string>17:46</string>
			<string>17:56</string>
			<string>18:06</string>
			<string>18:21</string>
			<string>18:31</string>
			<string>18:41</string>
			<string>18:51</string>
			<string>19:01</string>
			<string>19:16</string>
			<string>19:31</string>
			<string>19:46</string>
			<string>20:06</string>
			<string>20:26</string>
			<string>20:46</string>
			<string>21:06</string>
			<string>21:26</string>
			<string>21:46</string>
			<string>22:06</string>
			<string>22:26</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.273841857910156</real>
		<key>no</key>
		<integer>14</integer>
		<key>title</key>
		<string>Chintadripet</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:18</string>
			<string>4:48</string>
			<string>5:18</string>
			<string>5:38</string>
			<string>5:38</string>
			<string>5:58</string>
			<string>6:13</string>
			<string>6:28</string>
			<string>6:48</string>
			<string>7:03</string>
			<string>7:23</string>
			<string>7:38</string>
			<string>7:53</string>
			<string>8:08</string>
			<string>8:23</string>
			<string>8:33</string>
			<string>8:43</string>
			<string>8:53</string>
			<string>9:03</string>
			<string>9:13</string>
			<string>9:23</string>
			<string>9:33</string>
			<string>9:43</string>
			<string>9:53</string>
			<string>10:03</string>
			<string>10:13</string>
			<string>10:23</string>
			<string>10:38</string>
			<string>10:53</string>
			<string>11:08</string>
			<string>11:23</string>
			<string>11:38</string>
			<string>11:53</string>
			<string>12:13</string>
			<string>12:33</string>
			<string>12:53</string>
			<string>13:13</string>
			<string>13:33</string>
			<string>13:53</string>
			<string>14:13</string>
			<string>14:33</string>
			<string>14:53</string>
			<string>15:13</string>
			<string>15:33</string>
			<string>15:53</string>
			<string>16:08</string>
			<string>16:23</string>
			<string>16:38</string>
			<string>16:53</string>
			<string>17:08</string>
			<string>17:23</string>
			<string>17:38</string>
			<string>17:48</string>
			<string>17:58</string>
			<string>18:08</string>
			<string>18:23</string>
			<string>18:33</string>
			<string>18:43</string>
			<string>18:53</string>
			<string>19:03</string>
			<string>19:18</string>
			<string>19:33</string>
			<string>19:48</string>
			<string>20:08</string>
			<string>20:28</string>
			<string>20:48</string>
			<string>21:08</string>
			<string>21:28</string>
			<string>21:48</string>
			<string>22:08</string>
			<string>22:28</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.280532836914062</real>
		<key>no</key>
		<integer>13</integer>
		<key>title</key>
		<string>Chepak</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:20</string>
			<string>4:50</string>
			<string>5:20</string>
			<string>5:40</string>
			<string>5:40</string>
			<string>6:00</string>
			<string>6:15</string>
			<string>6:30</string>
			<string>6:50</string>
			<string>7:05</string>
			<string>7:25</string>
			<string>7:40</string>
			<string>7:55</string>
			<string>8:10</string>
			<string>8:25</string>
			<string>8:35</string>
			<string>8:45</string>
			<string>8:55</string>
			<string>9:05</string>
			<string>9:15</string>
			<string>9:25</string>
			<string>9:35</string>
			<string>9:45</string>
			<string>9:55</string>
			<string>10:05</string>
			<string>10:15</string>
			<string>10:25</string>
			<string>10:40</string>
			<string>10:55</string>
			<string>11:10</string>
			<string>11:25</string>
			<string>11:40</string>
			<string>11:55</string>
			<string>12:15</string>
			<string>12:35</string>
			<string>12:55</string>
			<string>13:15</string>
			<string>13:35</string>
			<string>13:55</string>
			<string>14:15</string>
			<string>14:35</string>
			<string>14:55</string>
			<string>15:15</string>
			<string>15:35</string>
			<string>15:55</string>
			<string>16:10</string>
			<string>16:25</string>
			<string>16:40</string>
			<string>16:55</string>
			<string>17:10</string>
			<string>17:25</string>
			<string>17:40</string>
			<string>17:50</string>
			<string>18:00</string>
			<string>18:10</string>
			<string>18:25</string>
			<string>18:35</string>
			<string>18:45</string>
			<string>18:55</string>
			<string>19:05</string>
			<string>19:20</string>
			<string>19:35</string>
			<string>19:50</string>
			<string>20:10</string>
			<string>20:30</string>
			<string>20:50</string>
			<string>21:10</string>
			<string>21:30</string>
			<string>21:50</string>
			<string>22:10</string>
			<string>22:30</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.280792236328125</real>
		<key>no</key>
		<integer>12</integer>
		<key>title</key>
		<string>Thiruvallikeni</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:22</string>
			<string>4:52</string>
			<string>5:22</string>
			<string>5:42</string>
			<string>5:42</string>
			<string>6:02</string>
			<string>6:17</string>
			<string>6:32</string>
			<string>6:52</string>
			<string>7:07</string>
			<string>7:27</string>
			<string>7:42</string>
			<string>7:57</string>
			<string>8:12</string>
			<string>8:27</string>
			<string>8:37</string>
			<string>8:47</string>
			<string>8:57</string>
			<string>9:07</string>
			<string>9:17</string>
			<string>9:27</string>
			<string>9:37</string>
			<string>9:47</string>
			<string>9:57</string>
			<string>10:07</string>
			<string>10:17</string>
			<string>10:27</string>
			<string>10:42</string>
			<string>10:57</string>
			<string>11:12</string>
			<string>11:27</string>
			<string>11:42</string>
			<string>11:57</string>
			<string>12:17</string>
			<string>12:37</string>
			<string>12:57</string>
			<string>13:17</string>
			<string>13:37</string>
			<string>13:57</string>
			<string>14:17</string>
			<string>14:37</string>
			<string>14:57</string>
			<string>15:17</string>
			<string>15:37</string>
			<string>15:57</string>
			<string>16:12</string>
			<string>16:27</string>
			<string>16:42</string>
			<string>16:57</string>
			<string>17:12</string>
			<string>17:27</string>
			<string>17:42</string>
			<string>17:52</string>
			<string>18:02</string>
			<string>18:12</string>
			<string>18:27</string>
			<string>18:37</string>
			<string>18:47</string>
			<string>18:57</string>
			<string>19:07</string>
			<string>19:22</string>
			<string>19:37</string>
			<string>19:52</string>
			<string>20:12</string>
			<string>20:32</string>
			<string>20:52</string>
			<string>21:12</string>
			<string>21:32</string>
			<string>21:52</string>
			<string>22:12</string>
			<string>22:32</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.276756286621094</real>
		<key>no</key>
		<integer>11</integer>
		<key>title</key>
		<string>Light House</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:24</string>
			<string>4:54</string>
			<string>5:24</string>
			<string>5:44</string>
			<string>5:44</string>
			<string>6:04</string>
			<string>6:19</string>
			<string>6:34</string>
			<string>6:54</string>
			<string>7:09</string>
			<string>7:29</string>
			<string>7:44</string>
			<string>7:59</string>
			<string>8:14</string>
			<string>8:29</string>
			<string>8:39</string>
			<string>8:49</string>
			<string>8:59</string>
			<string>9:09</string>
			<string>9:19</string>
			<string>9:29</string>
			<string>9:39</string>
			<string>9:49</string>
			<string>9:59</string>
			<string>10:09</string>
			<string>10:19</string>
			<string>10:29</string>
			<string>10:44</string>
			<string>10:59</string>
			<string>11:14</string>
			<string>11:29</string>
			<string>11:44</string>
			<string>11:59</string>
			<string>12:19</string>
			<string>12:39</string>
			<string>12:59</string>
			<string>13:19</string>
			<string>13:39</string>
			<string>13:59</string>
			<string>14:19</string>
			<string>14:39</string>
			<string>14:59</string>
			<string>15:19</string>
			<string>15:39</string>
			<string>15:59</string>
			<string>16:14</string>
			<string>16:29</string>
			<string>16:44</string>
			<string>16:59</string>
			<string>17:14</string>
			<string>17:29</string>
			<string>17:44</string>
			<string>17:54</string>
			<string>18:04</string>
			<string>18:14</string>
			<string>18:29</string>
			<string>18:39</string>
			<string>18:49</string>
			<string>18:59</string>
			<string>19:09</string>
			<string>19:24</string>
			<string>19:39</string>
			<string>19:54</string>
			<string>20:14</string>
			<string>20:34</string>
			<string>20:54</string>
			<string>21:14</string>
			<string>21:34</string>
			<string>21:54</string>
			<string>22:14</string>
			<string>22:34</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.267066955566406</real>
		<key>no</key>
		<integer>10</integer>
		<key>title</key>
		<string>Thirumayilai</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:29</string>
			<string>4:59</string>
			<string>5:29</string>
			<string>5:49</string>
			<string>5:49</string>
			<string>6:09</string>
			<string>6:24</string>
			<string>6:39</string>
			<string>6:59</string>
			<string>7:14</string>
			<string>7:34</string>
			<string>7:49</string>
			<string>8:04</string>
			<string>8:19</string>
			<string>8:34</string>
			<string>8:44</string>
			<string>8:54</string>
			<string>9:04</string>
			<string>9:14</string>
			<string>9:24</string>
			<string>9:34</string>
			<string>9:44</string>
			<string>9:54</string>
			<string>10:04</string>
			<string>10:14</string>
			<string>10:24</string>
			<string>10:34</string>
			<string>10:49</string>
			<string>11:04</string>
			<string>11:19</string>
			<string>11:34</string>
			<string>11:49</string>
			<string>12:04</string>
			<string>12:24</string>
			<string>12:44</string>
			<string>13:04</string>
			<string>13:24</string>
			<string>13:44</string>
			<string>14:04</string>
			<string>14:24</string>
			<string>14:44</string>
			<string>15:04</string>
			<string>15:24</string>
			<string>15:44</string>
			<string>16:04</string>
			<string>16:19</string>
			<string>16:34</string>
			<string>16:49</string>
			<string>17:04</string>
			<string>17:19</string>
			<string>17:34</string>
			<string>17:49</string>
			<string>17:59</string>
			<string>18:09</string>
			<string>18:19</string>
			<string>18:34</string>
			<string>18:44</string>
			<string>18:54</string>
			<string>19:04</string>
			<string>19:14</string>
			<string>19:29</string>
			<string>19:44</string>
			<string>19:59</string>
			<string>20:19</string>
			<string>20:39</string>
			<string>20:59</string>
			<string>21:19</string>
			<string>21:39</string>
			<string>21:59</string>
			<string>22:19</string>
			<string>22:39</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.260749816894531</real>
		<key>no</key>
		<integer>9</integer>
		<key>title</key>
		<string>Mandaveli</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:31</string>
			<string>5:01</string>
			<string>5:31</string>
			<string>5:51</string>
			<string>5:51</string>
			<string>6:11</string>
			<string>6:26</string>
			<string>6:41</string>
			<string>7:01</string>
			<string>7:16</string>
			<string>7:36</string>
			<string>7:51</string>
			<string>8:06</string>
			<string>8:21</string>
			<string>8:36</string>
			<string>8:46</string>
			<string>8:56</string>
			<string>9:06</string>
			<string>9:16</string>
			<string>9:26</string>
			<string>9:36</string>
			<string>9:46</string>
			<string>9:56</string>
			<string>10:06</string>
			<string>10:16</string>
			<string>10:26</string>
			<string>10:36</string>
			<string>10:51</string>
			<string>11:06</string>
			<string>11:21</string>
			<string>11:36</string>
			<string>11:51</string>
			<string>12:06</string>
			<string>12:26</string>
			<string>12:46</string>
			<string>13:06</string>
			<string>13:26</string>
			<string>13:46</string>
			<string>14:06</string>
			<string>14:26</string>
			<string>14:46</string>
			<string>15:06</string>
			<string>15:26</string>
			<string>15:46</string>
			<string>16:06</string>
			<string>16:21</string>
			<string>16:36</string>
			<string>16:51</string>
			<string>17:06</string>
			<string>17:21</string>
			<string>17:36</string>
			<string>17:51</string>
			<string>18:01</string>
			<string>18:11</string>
			<string>18:21</string>
			<string>18:36</string>
			<string>18:46</string>
			<string>18:56</string>
			<string>19:06</string>
			<string>19:16</string>
			<string>19:31</string>
			<string>19:46</string>
			<string>20:01</string>
			<string>20:21</string>
			<string>20:41</string>
			<string>21:01</string>
			<string>21:21</string>
			<string>21:41</string>
			<string>22:01</string>
			<string>22:21</string>
			<string>22:41</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.251953125</real>
		<key>no</key>
		<integer>8</integer>
		<key>title</key>
		<string>Greenways Road</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:33</string>
			<string>5:03</string>
			<string>5:33</string>
			<string>5:53</string>
			<string>5:53</string>
			<string>6:13</string>
			<string>6:28</string>
			<string>6:43</string>
			<string>7:03</string>
			<string>7:18</string>
			<string>7:38</string>
			<string>7:53</string>
			<string>8:08</string>
			<string>8:23</string>
			<string>8:38</string>
			<string>8:48</string>
			<string>8:58</string>
			<string>9:08</string>
			<string>9:18</string>
			<string>9:28</string>
			<string>9:38</string>
			<string>9:48</string>
			<string>9:58</string>
			<string>10:08</string>
			<string>10:18</string>
			<string>10:28</string>
			<string>10:38</string>
			<string>10:53</string>
			<string>11:08</string>
			<string>11:23</string>
			<string>11:38</string>
			<string>11:53</string>
			<string>12:08</string>
			<string>12:28</string>
			<string>12:48</string>
			<string>13:08</string>
			<string>13:28</string>
			<string>13:48</string>
			<string>14:08</string>
			<string>14:28</string>
			<string>14:48</string>
			<string>15:08</string>
			<string>15:28</string>
			<string>15:48</string>
			<string>16:08</string>
			<string>16:23</string>
			<string>16:38</string>
			<string>16:53</string>
			<string>17:08</string>
			<string>17:23</string>
			<string>17:38</string>
			<string>17:53</string>
			<string>18:03</string>
			<string>18:13</string>
			<string>18:23</string>
			<string>18:38</string>
			<string>18:48</string>
			<string>18:58</string>
			<string>19:08</string>
			<string>19:18</string>
			<string>19:33</string>
			<string>19:48</string>
			<string>20:03</string>
			<string>20:23</string>
			<string>20:43</string>
			<string>21:03</string>
			<string>21:23</string>
			<string>21:43</string>
			<string>22:03</string>
			<string>22:23</string>
			<string>22:43</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.248481750488281</real>
		<key>no</key>
		<integer>7</integer>
		<key>title</key>
		<string>Kotturpuram</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:35</string>
			<string>5:05</string>
			<string>5:35</string>
			<string>5:55</string>
			<string>5:55</string>
			<string>6:15</string>
			<string>6:30</string>
			<string>6:45</string>
			<string>7:05</string>
			<string>7:20</string>
			<string>7:40</string>
			<string>7:55</string>
			<string>8:10</string>
			<string>8:25</string>
			<string>8:40</string>
			<string>8:50</string>
			<string>9:00</string>
			<string>9:10</string>
			<string>9:20</string>
			<string>9:30</string>
			<string>9:40</string>
			<string>9:50</string>
			<string>10:00</string>
			<string>10:10</string>
			<string>10:20</string>
			<string>10:30</string>
			<string>10:40</string>
			<string>10:55</string>
			<string>11:10</string>
			<string>11:25</string>
			<string>11:40</string>
			<string>11:55</string>
			<string>12:10</string>
			<string>12:30</string>
			<string>12:50</string>
			<string>13:10</string>
			<string>13:30</string>
			<string>13:50</string>
			<string>14:10</string>
			<string>14:30</string>
			<string>14:50</string>
			<string>15:10</string>
			<string>15:30</string>
			<string>15:50</string>
			<string>16:10</string>
			<string>16:25</string>
			<string>16:40</string>
			<string>16:55</string>
			<string>17:10</string>
			<string>17:25</string>
			<string>17:40</string>
			<string>17:55</string>
			<string>18:05</string>
			<string>18:15</string>
			<string>18:25</string>
			<string>18:40</string>
			<string>18:50</string>
			<string>19:00</string>
			<string>19:10</string>
			<string>19:20</string>
			<string>19:35</string>
			<string>19:50</string>
			<string>20:05</string>
			<string>20:25</string>
			<string>20:45</string>
			<string>21:05</string>
			<string>21:25</string>
			<string>21:45</string>
			<string>22:05</string>
			<string>22:25</string>
			<string>22:45</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.247749328613281</real>
		<key>no</key>
		<integer>6</integer>
		<key>title</key>
		<string>Kasthurba Nagar</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:37</string>
			<string>5:07</string>
			<string>5:37</string>
			<string>5:57</string>
			<string>5:57</string>
			<string>6:17</string>
			<string>6:32</string>
			<string>6:47</string>
			<string>7:07</string>
			<string>7:22</string>
			<string>7:42</string>
			<string>7:57</string>
			<string>8:12</string>
			<string>8:27</string>
			<string>8:42</string>
			<string>8:52</string>
			<string>9:02</string>
			<string>9:12</string>
			<string>9:22</string>
			<string>9:32</string>
			<string>9:42</string>
			<string>9:52</string>
			<string>10:02</string>
			<string>10:12</string>
			<string>10:22</string>
			<string>10:32</string>
			<string>10:42</string>
			<string>10:57</string>
			<string>11:12</string>
			<string>11:27</string>
			<string>11:42</string>
			<string>11:57</string>
			<string>12:12</string>
			<string>12:32</string>
			<string>12:52</string>
			<string>13:12</string>
			<string>13:32</string>
			<string>13:52</string>
			<string>14:12</string>
			<string>14:32</string>
			<string>14:52</string>
			<string>15:12</string>
			<string>15:32</string>
			<string>15:52</string>
			<string>16:12</string>
			<string>16:27</string>
			<string>16:42</string>
			<string>16:57</string>
			<string>17:12</string>
			<string>17:27</string>
			<string>17:42</string>
			<string>17:57</string>
			<string>18:07</string>
			<string>18:17</string>
			<string>18:27</string>
			<string>18:42</string>
			<string>18:52</string>
			<string>19:02</string>
			<string>19:12</string>
			<string>19:22</string>
			<string>19:37</string>
			<string>19:52</string>
			<string>20:07</string>
			<string>20:27</string>
			<string>20:47</string>
			<string>21:07</string>
			<string>21:27</string>
			<string>21:47</string>
			<string>22:07</string>
			<string>22:27</string>
			<string>22:47</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.249763488769531</real>
		<key>no</key>
		<integer>5</integer>
		<key>title</key>
		<string>Indira Nagar</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:39</string>
			<string>5:09</string>
			<string>5:39</string>
			<string>5:59</string>
			<string>5:59</string>
			<string>6:19</string>
			<string>6:34</string>
			<string>6:49</string>
			<string>7:09</string>
			<string>7:24</string>
			<string>7:44</string>
			<string>7:59</string>
			<string>8:14</string>
			<string>8:29</string>
			<string>8:44</string>
			<string>8:54</string>
			<string>9:04</string>
			<string>9:14</string>
			<string>9:24</string>
			<string>9:34</string>
			<string>9:44</string>
			<string>9:54</string>
			<string>10:04</string>
			<string>10:14</string>
			<string>10:24</string>
			<string>10:34</string>
			<string>10:44</string>
			<string>10:59</string>
			<string>11:14</string>
			<string>11:29</string>
			<string>11:44</string>
			<string>11:59</string>
			<string>12:14</string>
			<string>12:34</string>
			<string>12:54</string>
			<string>13:14</string>
			<string>13:34</string>
			<string>13:54</string>
			<string>14:14</string>
			<string>14:34</string>
			<string>14:54</string>
			<string>15:14</string>
			<string>15:34</string>
			<string>15:54</string>
			<string>16:14</string>
			<string>16:29</string>
			<string>16:44</string>
			<string>16:59</string>
			<string>17:14</string>
			<string>17:29</string>
			<string>17:44</string>
			<string>17:59</string>
			<string>18:09</string>
			<string>18:19</string>
			<string>18:29</string>
			<string>18:44</string>
			<string>18:54</string>
			<string>19:04</string>
			<string>19:14</string>
			<string>19:24</string>
			<string>19:39</string>
			<string>19:54</string>
			<string>20:09</string>
			<string>20:29</string>
			<string>20:49</string>
			<string>21:09</string>
			<string>21:29</string>
			<string>21:49</string>
			<string>22:09</string>
			<string>22:29</string>
			<string>22:49</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.251609802246094</real>
		<key>no</key>
		<integer>4</integer>
		<key>title</key>
		<string>Thiruvanmiyur</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:40</string>
			<string>5:10</string>
			<string>5:40</string>
			<string>6:00</string>
			<string>6:00</string>
			<string>6:20</string>
			<string>6:35</string>
			<string>6:50</string>
			<string>7:10</string>
			<string>7:25</string>
			<string>7:45</string>
			<string>8:00</string>
			<string>8:15</string>
			<string>8:30</string>
			<string>8:45</string>
			<string>8:55</string>
			<string>9:05</string>
			<string>9:15</string>
			<string>9:25</string>
			<string>9:35</string>
			<string>9:45</string>
			<string>9:55</string>
			<string>10:05</string>
			<string>10:15</string>
			<string>10:25</string>
			<string>10:35</string>
			<string>10:45</string>
			<string>11:00</string>
			<string>11:15</string>
			<string>11:30</string>
			<string>11:45</string>
			<string>12:00</string>
			<string>12:15</string>
			<string>12:35</string>
			<string>12:55</string>
			<string>13:15</string>
			<string>13:35</string>
			<string>13:55</string>
			<string>14:15</string>
			<string>14:35</string>
			<string>14:55</string>
			<string>15:15</string>
			<string>15:35</string>
			<string>15:55</string>
			<string>16:15</string>
			<string>16:30</string>
			<string>16:45</string>
			<string>17:00</string>
			<string>17:15</string>
			<string>17:30</string>
			<string>17:45</string>
			<string>18:00</string>
			<string>18:10</string>
			<string>18:20</string>
			<string>18:30</string>
			<string>18:45</string>
			<string>18:55</string>
			<string>19:05</string>
			<string>19:15</string>
			<string>19:25</string>
			<string>19:40</string>
			<string>19:55</string>
			<string>20:10</string>
			<string>20:30</string>
			<string>20:50</string>
			<string>21:10</string>
			<string>21:30</string>
			<string>21:50</string>
			<string>22:10</string>
			<string>22:30</string>
			<string>22:50</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.241241455078125</real>
		<key>no</key>
		<integer>3</integer>
		<key>title</key>
		<string>Tharamani</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:43</string>
			<string>5:13</string>
			<string>5:43</string>
			<string>6:03</string>
			<string>6:03</string>
			<string>6:23</string>
			<string>6:38</string>
			<string>6:53</string>
			<string>7:13</string>
			<string>7:28</string>
			<string>7:48</string>
			<string>8:03</string>
			<string>8:18</string>
			<string>8:33</string>
			<string>8:48</string>
			<string>8:58</string>
			<string>9:08</string>
			<string>9:18</string>
			<string>9:28</string>
			<string>9:38</string>
			<string>9:48</string>
			<string>9:58</string>
			<string>10:08</string>
			<string>10:18</string>
			<string>10:28</string>
			<string>10:38</string>
			<string>10:48</string>
			<string>11:03</string>
			<string>11:18</string>
			<string>11:33</string>
			<string>11:48</string>
			<string>12:03</string>
			<string>12:18</string>
			<string>12:38</string>
			<string>12:58</string>
			<string>13:18</string>
			<string>13:38</string>
			<string>13:58</string>
			<string>14:18</string>
			<string>14:38</string>
			<string>14:58</string>
			<string>15:18</string>
			<string>15:38</string>
			<string>15:58</string>
			<string>16:18</string>
			<string>16:33</string>
			<string>16:48</string>
			<string>17:03</string>
			<string>17:18</string>
			<string>17:33</string>
			<string>17:48</string>
			<string>18:03</string>
			<string>18:13</string>
			<string>18:23</string>
			<string>18:33</string>
			<string>18:48</string>
			<string>18:58</string>
			<string>19:08</string>
			<string>19:18</string>
			<string>19:28</string>
			<string>19:43</string>
			<string>19:58</string>
			<string>20:13</string>
			<string>20:33</string>
			<string>20:53</string>
			<string>21:13</string>
			<string>21:33</string>
			<string>21:53</string>
			<string>22:13</string>
			<string>22:33</string>
			<string>22:53</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.231307983398438</real>
		<key>no</key>
		<integer>2</integer>
		<key>title</key>
		<string>Perungudi</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:45</string>
			<string>5:15</string>
			<string>5:45</string>
			<string>6:05</string>
			<string>6:05</string>
			<string>6:25</string>
			<string>6:40</string>
			<string>6:55</string>
			<string>7:15</string>
			<string>7:30</string>
			<string>7:50</string>
			<string>8:05</string>
			<string>8:20</string>
			<string>8:35</string>
			<string>8:50</string>
			<string>9:00</string>
			<string>9:10</string>
			<string>9:20</string>
			<string>9:30</string>
			<string>9:40</string>
			<string>9:50</string>
			<string>10:00</string>
			<string>10:10</string>
			<string>10:20</string>
			<string>10:30</string>
			<string>10:40</string>
			<string>10:50</string>
			<string>11:05</string>
			<string>11:20</string>
			<string>11:35</string>
			<string>11:50</string>
			<string>12:05</string>
			<string>12:20</string>
			<string>12:40</string>
			<string>13:00</string>
			<string>13:20</string>
			<string>13:40</string>
			<string>14:00</string>
			<string>14:20</string>
			<string>14:40</string>
			<string>15:00</string>
			<string>15:20</string>
			<string>15:40</string>
			<string>16:00</string>
			<string>16:20</string>
			<string>16:35</string>
			<string>16:50</string>
			<string>17:05</string>
			<string>17:20</string>
			<string>17:35</string>
			<string>17:50</string>
			<string>18:05</string>
			<string>18:15</string>
			<string>18:25</string>
			<string>18:35</string>
			<string>18:50</string>
			<string>19:00</string>
			<string>19:10</string>
			<string>19:20</string>
			<string>19:30</string>
			<string>19:45</string>
			<string>20:00</string>
			<string>20:15</string>
			<string>20:35</string>
			<string>20:55</string>
			<string>21:15</string>
			<string>21:35</string>
			<string>21:55</string>
			<string>22:15</string>
			<string>22:35</string>
			<string>22:55</string>
		</array>
	</dict>
	<dict>
		<key>lat</key>
		<real>80.219009399414062</real>
		<key>no</key>
		<integer>1</integer>
		<key>title</key>
		<string>Velacherry</string>
		<key>toStation1WDs</key>
		<array>
			<string>4:55</string>
			<string>5:25</string>
			<string>5:55</string>
			<string>6:15</string>
			<string>6:15</string>
			<string>6:35</string>
			<string>6:50</string>
			<string>7:05</string>
			<string>7:25</string>
			<string>7:40</string>
			<string>8:00</string>
			<string>8:15</string>
			<string>8:30</string>
			<string>8:45</string>
			<string>9:00</string>
			<string>9:10</string>
			<string>9:20</string>
			<string>9:30</string>
			<string>9:40</string>
			<string>9:50</string>
			<string>10:00</string>
			<string>10:10</string>
			<string>10:20</string>
			<string>10:30</string>
			<string>10:40</string>
			<string>10:50</string>
			<string>11:00</string>
			<string>11:15</string>
			<string>11:30</string>
			<string>11:45</string>
			<string>12:00</string>
			<string>12:15</string>
			<string>12:30</string>
			<string>12:50</string>
			<string>13:10</string>
			<string>13:30</string>
			<string>13:50</string>
			<string>14:10</string>
			<string>14:30</string>
			<string>14:50</string>
			<string>15:10</string>
			<string>15:30</string>
			<string>15:50</string>
			<string>16:10</string>
			<string>16:30</string>
			<string>16:45</string>
			<string>17:00</string>
			<string>17:15</string>
			<string>17:30</string>
			<string>17:45</string>
			<string>18:00</string>
			<string>18:15</string>
			<string>18:25</string>
			<string>18:35</string>
			<string>18:45</string>
			<string>19:00</string>
			<string>19:10</string>
			<string>19:20</string>
			<string>19:30</string>
			<string>19:40</string>
			<string>19:55</string>
			<string>20:10</string>
			<string>20:25</string>
			<string>20:45</string>
			<string>21:05</string>
			<string>21:25</string>
			<string>21:45</string>
			<string>22:05</string>
			<string>22:25</string>
			<string>22:45</string>
			<string>23:05</string>
		</array>
	</dict>
</array>
</plist>
